<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Můj Web</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="nadpis">
        <h1>CYKLISTIKA</h1>
    </header>

    <nav>
        <a href="index.cshtml">Domů</a>
        <a href="Omne.cshtml">O mně</a>
        <a href="MojeTrasy.cshtml">Moje Trasy</a>
        <a href="Reference.cshtml">Reference</a>   
    </nav>

    <section class="obrazky">
        <div class="fotkaVlevo">
            <img src="Images/LesKralovstvi.jpeg"><br>
            <p>Les Kralovství</p>
        </div>

        <div class="uvod">
            <h2>Vítejte na mém webu o cyklistice!</h2>
            <p>Cyklistika je skvělý způsob, jak se udržovat v kondici a zároveň objevovat nová místa. Ať už jezdíte po silnici, horách nebo jen tak na výlety, kolo vám dá svobodu a nezapomenutelné zážitky.</p><br>
            <p>Na tomto webu najdete tipy na nejlepší cyklistické trasy, rady ohledně výběru kola a vybavení, stejně jako novinky ze světa cyklistiky. Doufám, že vás mé stránky inspirují k tomu, abyste si sedli na kolo a vyrazili za dobrodružstvím!</p>
        </div>

        <div class="fotkaVpravo">
            <img src="Images/DubNadMoravou.jpeg"><br>
            <p>Dub nad Moravou</p>
        </div>

        </section>
    <section class="novinky-sekce">
        
        <h2>Aktuality ze světa kol</h2>
        
        <div class="novinky-kontejner">
            <article class="novinka">
                <h3>Tour de France 2026</h3>
                <span class="datum">23. 10. 2025</span>
                <p>Trasa na příští rok je odhalena! Startuje se v Barceloně a fanoušky čeká lahůdka: dvojitý výjezd na legendární Alpe d'Huez.</p>
            </article>

            <article class="novinka">
                <h3>Štybar hledá talenty</h3>
                <span class="datum">11. 12. 2025</span>
                <p>Zdeněk Štybar představil projekt Czech Cycling Academy. Cílem je najít nové hvězdy. V roce 2026 vyrazí s náborem do škol.</p>
            </article>

            <article class="novinka">
                <h3>Nová pravidla 2026</h3>
                <span class="datum">15. 11. 2025</span>
                <p>UCI zavádí nové standardy pro helmy. Výrobci elektrokol mezitím představili baterie s dojezdem až 200 km.</p>
            </article>
        </div>

        <h2 class="tdf-nadpis">Výsledky Tour de France 2025</h2>
        

        <div class="tabulka-obal">
            <table>
                <thead>
                    <tr>
                        <th>Pořadí</th>
                        <th>Jméno jezdce</th>
                        <th>Tým</th>
                        <th>Čas / Ztráta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1.</td>
                        <td><strong>Tadej Pogačar</strong></td>
                        <td>UAE Team Emirates</td>
                        <td>76h 00' 32"</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>Jonas Vingegaard</td>
                        <td>Visma | Lease a Bike</td>
                        <td>+ 4' 24"</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>Florian Lipowitz</td>
                        <td>Red Bull - Bora</td>
                        <td>+ 11' 00"</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>Oscar Onley</td>
                        <td>Team Picnic PostNL</td>
                        <td>+ 12' 12"</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>Felix Gall</td>
                        <td>Decathlon AG2R</td>
                        <td>+ 17' 12"</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </section>
</body>
</html>