@{
    ViewData["Title"] = "Moje Trasy";
}

<main class="uvod">
    <h2>Trasy se připravují.</h2>
    <p>Právě mapuji ty nejlepší cyklistické trasy v okolí Trutnova a Hostinného. Brzy se zde objeví mapy, GPX soubory a fotky z cest.</p>
    <p>🚲 Do té doby prosím o trpělivost!</p>
</main>