<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Můj Web</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="nadpis">
        <h1>NOVÁ STRÁNKA</h1>
    </header>

    <nav>
        <a asp-controller="Home" asp-action="Index">Domů</a>
        <a asp-controller="Home" asp-action="Omne">O mně</a>
        <a asp-controller="Home" asp-action="MojeTrasy">Moje Trasy</a>
        <a asp-controller="Home" asp-action="Reference">Reference</a>
        <a asp-controller="Home" asp-action="NovaStranka">Nová Stránka</a>
    </nav>
</body>
</html>