@{
    ViewData["Title"] = "O mně";
}

<header class="nadpis">
    <h1>O MNĚ</h1>
</header>
<nav>
    <a asp-controller="Home" asp-action="Index">Domů</a>
    <a asp-controller="Home" asp-action="Omne" class="active">O mně</a>
    <a asp-controller="Home" asp-action="MojeTrasy">Moje Trasy</a>
    <a asp-controller="Home" asp-action="Reference">Reference</a>
    <a asp-controller="Home" asp-action="NovaStranka">Nová Stránka</a>
</nav>
<section class="obrazky">
    <div class="fotkaVlevo">
        <img src="~/Images/EnduroTT.JPG" alt="Enduro Trutnov">
        <p>Enduro Trutnov 2024</p>
    </div>
    <div class="uvod">
        <h2>Kdo jsem?</h2>
        <p>Ahoj! Jmenuji se <strong>Jakub Skála</strong>, je mi 17 let a cyklistika je mojí obrovskou vášní už od dětství. Není to pro mě jen sport, ale způsob, jak si vyčistit hlavu a objevovat krásy naší krajiny.</p>
        <br>
        <p>Tento web jsem založil, abych se podělil o své oblíbené trasy, zážitky z cest a zkušenosti s vybavením. Ať už jezdíš rekreačně nebo trénuješ na závody, doufám, že zde najdeš inspiraci.</p>
        <br>
        <p>Mým cílem pro příští sezónu je pokořit magickou hranici 5 000 najetých kilometrů a zúčastnit se alespoň dvou amatérských závodů.</p>
    </div>
    <div class="fotkaVpravo">
        <img src="~/Images/OlomouckeRoubaix.JPG" alt="Olomoucké Roubaix 2024">
        <p>1. ročník Olomouckého Roubaix 2024</p>
    </div>
</section>